# <font color='red'>Artificial Intelligence(LabTask-03)

In [1]:
CoureList = []
def line():
  print('.....................................................................')

def show_menu():
  line()
  print('MENU BAR')
  print('1.Add couse\n2.Show course list\n3.Remove or Unenroll\n4.Exit\n')
  return int(input("Choose your option:"))
  

while True:
  choice = show_menu()
  line()
  if choice == 1:
    while True:
      ch = input("Do you want to add course(Y/N)?:")
      if ch.upper() == 'Y':
        CoureList.append(input('Enter your course name:'))
        print('Your course has been added successfully.\n')
      elif ch.upper() == 'N':
        break
      else:
        print("Invalid! Try again.")
  
  elif choice == 2:
    if len(CoureList) == 0:
       print("Your Course List is empty. Please add your course")
    else:
      k = 1
      print("Your avilable courses are shown bellow")
      for i in CoureList:
        print(str(k),')',i)
        k+=1
    
  elif choice == 3:
    if len(CoureList) == 0:
      print("Sorry! Your list is empty.")

    else:                                                 
        while True:
          ch = input("Do you want to remove course(Y/N)?:")
          if ch.upper() == 'Y':
            cn = input('Please, Enter removal course name:')
            if CoureList.count(cn):
                CoureList.remove(cn)
                print(cn,'has been removed successfully.\n')
            else:
              print("Sorry! The course name dose not matched!")

          elif ch.upper() == 'N':
            break
          else:
            print("Invalid! Try again.")

  elif choice == 4:
     print('Goodbye!')
     break
  else:
    print('Invalid Choice! Please try again.')

.....................................................................
MENU BAR
1.Add couse
2.Show course list
3.Remove or Unenroll
4.Exit

Choose your option:1
.....................................................................
Do you want to add course(Y/N)?:y
Enter your course name:AI
Your course has been added successfully.

Do you want to add course(Y/N)?:y
Enter your course name:Math
Your course has been added successfully.

Do you want to add course(Y/N)?:y
Enter your course name:DBMS
Your course has been added successfully.

Do you want to add course(Y/N)?:y
Enter your course name:English
Your course has been added successfully.

Do you want to add course(Y/N)?:y
Enter your course name:Networking
Your course has been added successfully.

Do you want to add course(Y/N)?:y
Enter your course name:Compiler
Your course has been added successfully.

Do you want to add course(Y/N)?:y
Enter your course name:Simulation
Your course has been added successfully.

Do you want to add course(Y/N)?:j
Invalid! Try again.
Do you want to add course(Y/N)?:y
Enter your course name:Biology
Your course has been added successfully.

Do you want to add course(Y/N)?:n
.....................................................................
MENU BAR
1.Add couse
2.Show course list
3.Remove or Unenroll
4.Exit

Choose your option:2
.....................................................................
Your avilable courses are shown bellow
1 ) AI
2 ) Math
3 ) DBMS
4 ) English
5 ) Networking
6 ) Compiler
7 ) Simulation
8 ) Biology
.....................................................................
MENU BAR
1.Add couse
2.Show course list
3.Remove or Unenroll
4.Exit

Choose your option:3
.....................................................................
Do you want to remove course(Y/N)?:y
Please, Enter removal course name:Biology
Biology has been removed successfully.

Do you want to remove course(Y/N)?:y
Please, Enter removal course name:BBMS
Sorry! The course name dose not matched!
Do you want to remove course(Y/N)?:y
Please, Enter removal course name:DBMS
DBMS has been removed successfully.

Do you want to remove course(Y/N)?:n
.....................................................................
MENU BAR
1.Add couse
2.Show course list
3.Remove or Unenroll
4.Exit

Choose your option:2
.....................................................................
Your avilable courses are shown bellow
1 ) AI
2 ) Math
3 ) English
4 ) Networking
5 ) Compiler
6 ) Simulation
.....................................................................
MENU BAR
1.Add couse
2.Show course list
3.Remove or Unenroll
4.Exit

Choose your option:5
.....................................................................
Invalid Choice! Please try again.
.....................................................................
MENU BAR
1.Add couse
2.Show course list
3.Remove or Unenroll
4.Exit

Choose your option:4
.....................................................................
Goodbye!

# <font color='red'>The work that have been shown in class

In [2]:
print("Hello Bangladesh")

Hello Bangladesh

#### Creating Variables in Python

In [3]:
x = 6
type(x)

int

In [4]:
p = 40.89
type(p)

float

In [5]:
b = False
type(b)

bool

In [6]:
s = 'I love Bangladesh'
type(s)

str

#### Advanced Python Types

In [7]:
#list data structure
lst = [4, 8, 99, 40, 'Rabbani', 20.36]
print(lst)

[4, 8, 99, 40, 'Rabbani', 20.36]

In [8]:
for i in lst:
  print(i,end=" ")

4 8 99 40 Rabbani 20.36

In [9]:
print(lst[:])

[4, 8, 99, 40, 'Rabbani', 20.36]

In [10]:
print(lst[2:])

[99, 40, 'Rabbani', 20.36]

In [11]:
print(lst[:-1])

[4, 8, 99, 40, 'Rabbani']

In [12]:
print(lst[1:len(lst):2])

[8, 40, 20.36]

#### Advanced Printing

In [13]:
s = 'student'
age = 25
cgpa = 3.88

print("Arif is a %s of DIU, He %s years old his cgpa is %s" %(s, age, cgpa))

Arif is a student of DIU, He 25 years old his cgpa is 3.88

#### Conditional Statement

In [14]:
n = 5
m = 10
if n==5 and m<15:
  print("The value i is 5 and the value of m is less than 15")

elif n>4 and m>4:
  print("Both n and m is greater than 4")

else:
  print("Both n amd m is less than 4")

The value i is 5 and the value of m is less than 15

#### Loops

In [15]:
x = [1, 2, 3, 4, 6, 10, 22]
for i in x:
  if i%2==0:
    print(i,end=" ")

2 4 6 10 22

In [16]:
n = int(input("Enter a number:"))
for num in range(n):
  if num%2:
    print(num)

Enter a number:20
1
3
5
7
9
11
13
15
17
19

In [17]:
lst = [2,5,6,8,9,11,12,24,51,45,47,12,13,31]

print([x**2 for x in lst if x%2])
print()


lst.remove(lst[5])
print('Ater removing 6th element:',lst)

[25, 81, 121, 2601, 2025, 2209, 169, 961]

Ater removing 6th element: [2, 5, 6, 8, 9, 12, 24, 51, 45, 47, 12, 13, 31]

In [18]:
lst2 = [10, 20, 45, 69, 'k', 'Habib']

for i in range(3):
  lst2.pop()
print(lst2)
3
for i in range(5):
  lst2.append(input("Enter appended value:"))

print()
print(lst2)

[10, 20, 45]
Enter appended value:25
Enter appended value:36
Enter appended value:45
Enter appended value:rabbani
Enter appended value:book

[10, 20, 45, '25', '36', '45', 'rabbani', 'book']

In [19]:
sett = {1, 4,5,63,6,5, 'Rabbani'}
print(sett)

{1, 4, 5, 6, 'Rabbani', 63}

In [20]:
n = 50
while n:
  if n%2:
    print(n**3, end=" ")
  n-=1

117649 103823 91125 79507 68921 59319 50653 42875 35937 29791 24389 19683 15625 12167 9261 6859 4913 3375 2197 1331 729 343 125 27 1

In [21]:
n = int(input("Enter a number:"))
m = n
s=0
digit=0
while m:
  rem = m%10
  s += rem
  m = m//10
print("Sum of digits = ",s)

Enter a number:56
Sum of digits =  11

#### Creating Functions

In [22]:
def CheckPlandrome(n):
  rev = 0
  while(n>0):
    digit = n%10
    rev = rev*10+digit
    n = n//10
  return rev

n = int(input('Enter a number:'))
if n == CheckPlandrome(n):
  print("%s is a plandrome number" %(n))

else:
  print("%s is not a plandrome number" %(n))

Enter a number:321
321 is not a plandrome number

In [23]:
def SumOfNumber(n):
  return (n*(n-1))//2


x = int(input("Enter a number:"))
print("Sum of Numbers is : ", SumOfNumber(x))

Enter a number:50
Sum of Numbers is :  1225

#### Dictionary

In [24]:
struent = {
    'Name' : ["Rabbani", "Habib", "Monir", "Rifat"],
    'Age' : [25, 22, 23, 24],
    'CGPA' : [3.5, 3.78, 3.98, 3.00]
}

print(struent)

{'Name': ['Rabbani', 'Habib', 'Monir', 'Rifat'], 'Age': [25, 22, 23, 24], 'CGPA': [3.5, 3.78, 3.98, 3.0]}

In [25]:
import pandas as pd
student = {
    'Name' : ["Rabbani", "Habib", "Monir", "Rifat"],
    'Age' : [25, 22, 23, 24],
    'CGPA' : [3.5, 3.78, 3.98, 3.00]
}
df = pd.DataFrame(student)
print(df)

      Name  Age  CGPA
0  Rabbani   25  3.50
1    Habib   22  3.78
2    Monir   23  3.98
3    Rifat   24  3.00

In [26]:
print(df.Age)

0    25
1    22
2    23
3    24
Name: Age, dtype: int64

In [27]:
print(df.Age.mean())

23.5

In [28]:
print(df.CGPA.mean())

3.565