In [26]:
import pandas as pd
df = pd.read_csv("Test02.csv")
df

       Date  Temperature  Windspeed  Event
0  20-01-21           32          6   Rain
1  21-01-21           35          7  Sunny
2  22-01-21           28          2   Snow
3  23-01-21           24          5   Rain
4  24-01-21           35         12   Snow
5  25-01-21           24         23   Rain
6  26-01-21           36         11  Sunny
7  27-01-21           40         10  Sunny
8  28-01-21           15         11   Snow
9  29-01-21           32          5   Snow

In [16]:
weather_data={  #Create DataFrame Using Dictonary
    'day':['20/01/21', '21/01/21', '22/01/21', '23/01/21', '24/01/21', '25/01/21', '26/01/21', '27/01/21'],
    'Temperature': [32, 35, 25, 26, 45, 20, 12, 22],
    'Windspeed':[6,7,8,10,9,5,4,6],
    'Event': ['Rain', 'Sunny', 'Rain', 'Snow', 'Snow', 'Rain', 'Sunny', 'Snow']
}
df2 = pd.DataFrame(weather_data)
df2

        day  Temperature  Windspeed  Event
0  20/01/21           32          6   Rain
1  21/01/21           35          7  Sunny
2  22/01/21           25          8   Rain
3  23/01/21           26         10   Snow
4  24/01/21           45          9   Snow
5  25/01/21           20          5   Rain
6  26/01/21           12          4  Sunny
7  27/01/21           22          6   Snow

In [18]:
row, column = df2.shape
row

8

In [19]:
column

4

In [20]:
df.head()

        day  Temperature  Windspeed  Event
0  20/01/21           32          6   Rain
1  21/01/21           35          7  Sunny
2  22/01/21           25          8   Rain
3  23/01/21           26         10   Snow
4  24/01/21           45          9   Snow

In [21]:
df.head(2)

        day  Temperature  Windspeed  Event
0  20/01/21           32          6   Rain
1  21/01/21           35          7  Sunny

In [22]:
df.tail()

        day  Temperature  Windspeed  Event
3  23/01/21           26         10   Snow
4  24/01/21           45          9   Snow
5  25/01/21           20          5   Rain
6  26/01/21           12          4  Sunny
7  27/01/21           22          6   Snow

In [23]:
df.tail(3)

        day  Temperature  Windspeed  Event
5  25/01/21           20          5   Rain
6  26/01/21           12          4  Sunny
7  27/01/21           22          6   Snow

In [27]:
df[1:5]

       Date  Temperature  Windspeed  Event
1  21-01-21           35          7  Sunny
2  22-01-21           28          2   Snow
3  23-01-21           24          5   Rain
4  24-01-21           35         12   Snow

In [28]:
df[:]

       Date  Temperature  Windspeed  Event
0  20-01-21           32          6   Rain
1  21-01-21           35          7  Sunny
2  22-01-21           28          2   Snow
3  23-01-21           24          5   Rain
4  24-01-21           35         12   Snow
5  25-01-21           24         23   Rain
6  26-01-21           36         11  Sunny
7  27-01-21           40         10  Sunny
8  28-01-21           15         11   Snow
9  29-01-21           32          5   Snow

In [29]:
df

       Date  Temperature  Windspeed  Event
0  20-01-21           32          6   Rain
1  21-01-21           35          7  Sunny
2  22-01-21           28          2   Snow
3  23-01-21           24          5   Rain
4  24-01-21           35         12   Snow
5  25-01-21           24         23   Rain
6  26-01-21           36         11  Sunny
7  27-01-21           40         10  Sunny
8  28-01-21           15         11   Snow
9  29-01-21           32          5   Snow

In [33]:
df.columns

Index(['Date', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [31]:
df2.columns

Index(['day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [32]:
df.columns

Index(['Date', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [37]:
df.Date

0    20-01-21
1    21-01-21
2    22-01-21
3    23-01-21
4    24-01-21
5    25-01-21
6    26-01-21
7    27-01-21
8    28-01-21
9    29-01-21
Name: Date, dtype: object

In [38]:
df2.Windspeed

0     6
1     7
2     8
3    10
4     9
5     5
6     4
7     6
Name: Windspeed, dtype: int64

In [39]:
df.Event

0     Rain
1    Sunny
2     Snow
3     Rain
4     Snow
5     Rain
6    Sunny
7    Sunny
8     Snow
9     Snow
Name: Event, dtype: object

In [40]:
df2['Event'] #df2.Event are same

0     Rain
1    Sunny
2     Rain
3     Snow
4     Snow
5     Rain
6    Sunny
7     Snow
Name: Event, dtype: object

In [41]:
df2.Event

0     Rain
1    Sunny
2     Rain
3     Snow
4     Snow
5     Rain
6    Sunny
7     Snow
Name: Event, dtype: object

In [42]:
type(df['Event'])

pandas.core.series.Series

In [44]:
df[["Date","Event","Temperature"]]

       Date  Event  Temperature
0  20-01-21   Rain           32
1  21-01-21  Sunny           35
2  22-01-21   Snow           28
3  23-01-21   Rain           24
4  24-01-21   Snow           35
5  25-01-21   Rain           24
6  26-01-21  Sunny           36
7  27-01-21  Sunny           40
8  28-01-21   Snow           15
9  29-01-21   Snow           32

In [47]:
df.Temperature

0    32
1    35
2    28
3    24
4    35
5    24
6    36
7    40
8    15
9    32
Name: Temperature, dtype: int64

In [48]:
df.Temperature.max()

40

In [49]:
df.Temperature.min()

15

In [50]:
df.Temperature.mean()

30.1

In [51]:
df.Temperature.median()

32.0

In [52]:
df.std()

Temperature    7.415449
Windspeed      5.846176
dtype: float64

In [53]:
df.Temperature.std()

7.415449338299662

In [54]:
df.describe()

       Temperature  Windspeed
count    10.000000  10.000000
mean     30.100000   9.200000
std       7.415449   5.846176
min      15.000000   2.000000
25%      25.000000   5.250000
50%      32.000000   8.500000
75%      35.000000  11.000000
max      40.000000  23.000000

In [55]:
df[df.Temperature>=30]

       Date  Temperature  Windspeed  Event
0  20-01-21           32          6   Rain
1  21-01-21           35          7  Sunny
4  24-01-21           35         12   Snow
6  26-01-21           36         11  Sunny
7  27-01-21           40         10  Sunny
9  29-01-21           32          5   Snow

In [56]:
df[df.Temperature==df.Temperature.max()]

       Date  Temperature  Windspeed  Event
7  27-01-21           40         10  Sunny

In [57]:
df[df.Temperature==df.Temperature.min()]

       Date  Temperature  Windspeed Event
8  28-01-21           15         11  Snow

In [59]:
df['Date'][df.Temperature==df['Temperature'].max()]

7    27-01-21
Name: Date, dtype: object

In [61]:
df[['Date','Temperature']][df.Temperature==df.Temperature.max()]

       Date  Temperature
7  27-01-21           40

In [62]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [63]:
df

       Date  Temperature  Windspeed  Event
0  20-01-21           32          6   Rain
1  21-01-21           35          7  Sunny
2  22-01-21           28          2   Snow
3  23-01-21           24          5   Rain
4  24-01-21           35         12   Snow
5  25-01-21           24         23   Rain
6  26-01-21           36         11  Sunny
7  27-01-21           40         10  Sunny
8  28-01-21           15         11   Snow
9  29-01-21           32          5   Snow

In [64]:
df.set_index('Date') #Change index value without changing original dataframe

          Temperature  Windspeed  Event
Date
20-01-21           32          6   Rain
21-01-21           35          7  Sunny
22-01-21           28          2   Snow
23-01-21           24          5   Rain
24-01-21           35         12   Snow
25-01-21           24         23   Rain
26-01-21           36         11  Sunny
27-01-21           40         10  Sunny
28-01-21           15         11   Snow
29-01-21           32          5   Snow

In [66]:
df

       Date  Temperature  Windspeed  Event
0  20-01-21           32          6   Rain
1  21-01-21           35          7  Sunny
2  22-01-21           28          2   Snow
3  23-01-21           24          5   Rain
4  24-01-21           35         12   Snow
5  25-01-21           24         23   Rain
6  26-01-21           36         11  Sunny
7  27-01-21           40         10  Sunny
8  28-01-21           15         11   Snow
9  29-01-21           32          5   Snow

In [69]:
df.set_index("Date", inplace = True) #Change index value with changing original dataframe

In [70]:
df

          Temperature  Windspeed  Event
Date
20-01-21           32          6   Rain
21-01-21           35          7  Sunny
22-01-21           28          2   Snow
23-01-21           24          5   Rain
24-01-21           35         12   Snow
25-01-21           24         23   Rain
26-01-21           36         11  Sunny
27-01-21           40         10  Sunny
28-01-21           15         11   Snow
29-01-21           32          5   Snow

In [71]:
df.loc['27-01-21']

Temperature       40
Windspeed         10
Event          Sunny
Name: 27-01-21, dtype: object

In [73]:
df.reset_index(inplace=True) #Back to original data as like as first

In [74]:
df

       Date  Temperature  Windspeed  Event
0  20-01-21           32          6   Rain
1  21-01-21           35          7  Sunny
2  22-01-21           28          2   Snow
3  23-01-21           24          5   Rain
4  24-01-21           35         12   Snow
5  25-01-21           24         23   Rain
6  26-01-21           36         11  Sunny
7  27-01-21           40         10  Sunny
8  28-01-21           15         11   Snow
9  29-01-21           32          5   Snow

In [75]:
df.set_index('Event', inplace=True)

In [78]:
df

           Date  Temperature  Windspeed
Event
Rain   20-01-21           32          6
Sunny  21-01-21           35          7
Snow   22-01-21           28          2
Rain   23-01-21           24          5
Snow   24-01-21           35         12
Rain   25-01-21           24         23
Sunny  26-01-21           36         11
Sunny  27-01-21           40         10
Snow   28-01-21           15         11
Snow   29-01-21           32          5

In [77]:
df.loc['Sunny']

           Date  Temperature  Windspeed
Event
Sunny  21-01-21           35          7
Sunny  26-01-21           36         11
Sunny  27-01-21           40         10